<nav class="navigation">
    <a class="logo" routerLink="/">
        <span>Dream</span>Place
    </a>
    <ul class="links">
        <li class="nav-item"><a routerLink="reserva">Reserva</a></li>
        <li class="nav-item"><a routerLink="layout-home-usuario">Perfil</a></li>
        <li class="nav-item"><a routerLink="layout">Home</a></li>
        <li class="nav-item"><a routerLink="cadastro">Avaliar</a></li>
        <li class="nav-item"><a routerLink="perfil" class="btn-bd-primary">Sair</a></li>
                    
        <li class="nav-item"><a routerLink="Perfil" class="btn-bd-primary">Perfil</a></li>
    </ul>

</nav>

<!-- Header do usuário -->