*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    margin-right:3rem;
   
}

:root{
    --darkblue: #0d0e55;
    --blue: #1746A2;
    --lightblue: #5F9DF7;
    --orange: #FF731D;
    --white: #FFF7E9;
}

body {
    color: black;
    background: #FFF7E9;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0px;
    box-shadow: 0 0.1rem 0.5rem #CCC;
    width: 100%;
    background: #FFF7E9;
    transition: all 0.5s;
    position: fixed;
}

 

.site-footer {
    background-color: #FFF7E9;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0.1rem 0.5rem #CCC;
    width: 100vw;
    
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links li a {
    text-decoration: none;
    color: #333;
}

.footer-links li a:hover {
    color: #555;
}
