<header>
<nav class="navigation">
    <a href="#" class="logo"><span>Dream</span>Place</a>
    <ul class="nav-menu">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#quartos">Quartos</a></li>
        <li class="nav-item"><a href="#passeios">Passeios</a></li>
        <li class="nav-item"><a href="#pacotes">Pacotes</a></li>
        <li class="nav-item"><a href="#fale-conosco">Fale conosco!</a></li>
        <li><a href="#" clkass="login-btn">Entrar</a></li>
    </ul>
    <div class="menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
</header>
