<!DOCTYPE html>
<html>
<head>
    <title>Seu Título Aqui</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="#" class="logo"><span>Dream</span>Place</a>
            <ul class="nav-menu">
                <li class="nav-item"><a routerLink="/layout">Home</a></li>
                <li class="nav-item"><a routerLink="/cadastro">Cadastro</a></li>
                <li class="nav-item"><a routerLink="/login">Login</a></li>
                
            </ul>
            <div class="menu">
                <!-- Conteúdo do menu aqui, se necessário -->
            </div>
        </nav>
    </header>
</body>
</html>