<app-header></app-header>
  <body>
    <div class="hero-wrap" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-lg-6 col-md-6 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><br><span>DreamPlace</span></h1>
     
          </div>
          <div class="col-lg-2 col"></div>
          <div class="col-lg-4 col-md-6 mt-0 mt-md-5">
          	<form action="#" class="request-form ftco-animate">
          		<h2>Reserva</h2>
	    				<div class="form-group">
	    					<input type="text" class="form-control" placeholder="Nome">
	    				</div>
	    				<div class="form-group">
	    					<input type="text" class="form-control" placeholder="Email">
	    				</div>
    					<div class="form-group">
	    					<input type="text" class="form-control" placeholder="Arrival">
	    				</div>
						<div class="form-group">
	    					<input type="text" class="form-control" placeholder="Departure">
	    				</div>
						<div class="form-group">
	    					<input type="text" class="form-control" placeholder="Hotel">
	    				</div>
						<div class="form-group">
	    					<input type="text" class="form-control" placeholder="Quarto">
	    				</div>

	    				<div class="form-group">
								<div class="checkbox">
								   <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
								</div>
							</div>
	            <div class="form-group">
	              <input type="submit" value="Join now" class="btn btn-primary py-3 px-4">
                <p></p>
                <button id="btnAvaliar" class="btn btn-primary py-3 px-4">Avaliar a Plataforma</button>


                <!-- Avaliar a plataforma -->
                <div id="avaliacaoModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Avaliar a Plataforma</h2>
                    <p>Por favor, avalie nossa plataforma de 0 a 5</p>
                    <input type="number" id="nota" min="0" max="5" step="0.1">
                    <button id="enviarAvaliacao">Enviar Avaliação</button>
                    <button id="cancelarAvaliacao">Cancelar</button>
                  </div>
                </div>

              
	            </div>
	    			</form>
          </div>
        </div>
      </div>
    </div>



    <!-- <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Plataforma.</h2>
              <p>Tem que editar aqui e colocar algum texto sla kkkkkkk.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Useful Links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Speakers</a></li>
                <li><a href="#" class="py-2 d-block">Shcedule</a></li>
                <li><a href="#" class="py-2 d-block">Events</a></li>
                <li><a href="#" class="py-2 d-block">Blog</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Privacy</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Career</a></li>
                <li><a href="#" class="py-2 d-block">About Us</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                <li><a href="#" class="py-2 d-block">Services</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">

        </div>
      </div>
    </footer> -->
    
 

  <script src="/src/app/reserva/js/jquery.min.js"></script>
  <script src="/src/app/reserva/js/avaliar.js"></script>
  <script src="/src/app/reserva/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/src/app/reserva/js/jquery.waypoints.min.js"></script>
  <script src="/src/app/reserva/js/jquery.stellar.min.js"></script>
  <script src="/src/app/reserva/js/owl.carousel.min.js"></script>
  <script src="/src/app/reserva/js/aos.js"></script>
  <script src="/src/app/reserva/js/jquery.animateNumber.min.js"></script>
  <script src="/src/app/reserva/js/scrollax.min.js"></script>
  
   <script src="/src/app/reserva/js/main.js"></script> 
    
  </body>
 
