*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --darkblue: #0d0e55;
    --blue: #1746A2;
    --lightblue: #5F9DF7;
    --orange: #FF731D;
    --white: #FFF7E9;
}

body {
    color: black;
    background: #FFF7E9;
}



  /* PACOTES */
  
.pacotes {
    padding: 20px;
    background-color: #FFF7E9;
    height: 100vh;
    width: 100vw;
}

.pacotes h2 {
    padding-top: 3rem;
    font-size: 28px;
    color: #1746A2;
    text-align: center;
    margin-bottom: 15px;
}

.pacotes-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}


.pacotes-item {
    width: 320px;
    margin: 1rem;
    padding: 1rem;
    background: #FFF7E9;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 2px 4px #000000;
}


.pacotes-item:hover {
    border: 2.5px solid black;
    box-shadow: 0 2px 4px #CCC;
    width: 340px;
    font-weight: 600;
}

.pacotes-item h3 {
    font-size: 24px;
    color: #1746A2;
    margin-bottom: 10px;
}

.pacotes-item h5 {
    font-size: 16px;
    color: #5F9DF7;
    margin-bottom: 15px;
}

.pacotes-item ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}


.pacotes-item li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
}

.pacotes-item li::before {
    content: "\2022"; 
    position: absolute;
    left: 0;
    color: #1746A2; 
}


.pacotes-item li:last-child {
    font-size: 20px;
    color: #1746A2; 
    font-weight: bold;
}

.pacote-btn {
    background-color: #FF731D;
    padding: 0.8rem 0.8rem;
    color: #FFF7E9;
    border-radius: 10px;;
    border: whitesmoke;
    transition: 0.5s;
}

.pacote-btn:hover {
    background-color: #5F9DF7;
    padding: 1rem 1rem;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}

