<html lang="pt-br">
    <body>
<main>
<section class="passeios">
    <hr>
    <h2 class="passeio-text" id="passeios">Conheça nossos passeios!</h2>
    <div class="passeio-main">
        <div class="passeio-item">
            <h3>Passeio Histórico</h3>
            <img src="./assets/img/passeio-historico.jpg" alt="Passeio Histórico" class="passeio-img">
            <p>Explore os marcos históricos e culturais da região, mergulhando na rica herança e na arquitetura encantadora.</p>
        </div>
        <div class="passeio-item">
            <h3>Trilha na natureza</h3>
            <img src="./assets/img/trilha-natureza.jpg" alt="Trilha na natureza" class="passeio-img">
            <p>Desfrute de caminhadas guiadas por trilhas deslumbrantes, explorando paisagens naturais, cachoeiras e fauna local.</p>
        </div>
        <div class="passeio-item">
            <h3>Gastronomia Regional</h3>
            <img src="./assets/img/gastronomia-regional.jpg" alt="Gastronomia Regional" class="passeio-img">
            <p>Descubra os sabores autênticos da região com um passeio que inclui visitas a restaurantes e degustação de pratos tradicionais.</p>
        </div>
        <div class="passeio-item">
            <h3>Passeio de aventura</h3>
            <img src="./assets/img/asseio-aventura.jpg" alt="Passeio de aventura" class="passeio-img">
            <p>Embarque em uma emocionante jornada de aventura, com atividades como rafting, tirolesa, escalada em rocha ou passeios de quadriciclo.</p>
            <br>
        </div>
        <div class="passeio-item">
            <h3>Tour pelos vinhedos</h3>
            <img src="./assets/img/tour-vinhedo.jpg" alt="Tour pelos vinhedos" class="passeio-img">
            <p>Explore os vinhedos da região em um passeio guiado, conhecendo a produção de vinhos locais, degustando diferentes variedades e aprendendo sobre o processo de vinificação.</p>
        </div>
    </div>
</section>
</main>
</body>
</html>