*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --darkblue: #0d0e55;
    --blue: #1746A2;
    --lightblue: #5F9DF7;
    --orange: #FF731D;
    --white: #FFF7E9;
}

body {
    color: black;
    background: #FFF7E9;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0px;
    box-shadow: 0 0.1rem 0.5rem #CCC;
    width: 100%;
    background: #FFF7E9;
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo {
    color: #1746A2;
    font-size: 1.7rem;
    font-weight: 600;
    transition: all 0.5s;
}

 

 

 
/* PASSEIOS */

.passeio-text {
    text-align: center;
    margin-top: 3rem;
    color: #1746A2;
    font-size: 1.5rem;
    font-weight: 600;
}

.passeio-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    
}

.passeio-item {
    width: 320px;
    margin: 1rem;
    padding: 1rem;
    background: #FFF7E9;
    border: 2.5px groove #FF731D;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 2px 4px #000000;
  }

  .passeio-item:hover{
    color: #FFF7E9;
    background: #0d0e55;
    border: 2.5px solid black;
    box-shadow: 0 2px 4px #CCC;
    width: 340px;
    font-weight: 600;
  }

.passeio-img {
    width: 70%;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 3%;
  }

  /* PACOTES */
  
 