<html lang="pt-br">
<main>
<section class="home">
    <div class="home-text">
        <h4 class="text-h4">Bem vindo ao DreamPlace</h4>
        <h2 class="text-h2">O seu refúgio dos sonhos</h2>
        <p>Bem-vindo ao nosso hotel encantador, onde você encontrará uma variedade de experiências inesquecíveis. Explore os encantos da região com nossos diversos passeios, desfrute do conforto e estilo dos nossos quartos exclusivos e saboreie um cardápio completo que satisfará todos os seus desejos culinários. Prepare-se para uma estadia extraordinária onde cada momento será uma verdadeira celebração dos sentidos.</p>
        <a href="#" class="home-btn">Pacotes</a>
    </div>
    <div class="home-img">
        <img src="./assets/img/hotel-home.jpeg" alt="foto do hotel">
    </div>
</section>
<section class="pacotes">
    <hr>
    <h2 class="pct-text" id="quartos">Conheça nossos quartos!</h2>
    <div class="cards-main">
        <div class="card-item">
            <h3>Quarto Padrão</h3>
            <img src="./assets/img/quarto-padrao.jpg" alt="Quarto Padrão" class="pacote-img">
            <p>O Quarto Padrão é a escolha perfeita para quem busca conforto e funcionalidade. Com um design acolhedor e aconchegante, esse quarto oferece todas as comodidades essenciais para uma estadia agradável.</p>
        </div>
        <div class="card-item">
            <h3>Quarto Executivo</h3>
            <img src="./assets/img/quarto-executivo.jpg" alt="Quarto Executivo" class="pacote-img">
            <p>O Quarto Executivo é o epitome do conforto e da sofisticação. Projetado para atender às necessidades dos hóspedes mais exigentes, esse quarto oferece uma experiência premium em todos os aspectos.</p>
        </div>
        <div class="card-item">
            <h3>Quarto de Luxo</h3>
            <img src="./assets/img/quarto-luxo.jpg" alt="QUarto de Luxo" class="pacote-img">
            <p>O Quarto de Luxo é a definição máxima de indulgência e requinte. Projetado para proporcionar uma experiência de hospedagem verdadeiramente extraordinária, esse quarto oferece um ambiente luxuoso e exclusivo.</p>
        </div>
    </div>
</section>
</main>
</html>
